.nav {
    flex-wrap: nowrap;
}

.nav-item {
    width: 100%;
    text-align: center;
    max-width: 150px;
    margin: .5rem 1rem;
}

.nav-link {
    padding: 1rem 2rem;
    color: var(--black);
    width: 100%;
    border-radius: 10px !important;
    transition: all .3s ease;
    border: 1px solid transparent;
}

.nav-link.active {
    background-color: var(--primary-blue);
}

.nav-link:hover {
    border: 1px solid var(--primary-blue);
}
