@import 'variables.css';
nav {
    padding: .5rem 2rem;
    /* background-color: var(--secondary-white); */
    box-shadow: 0 0 10px #bbd9ff;
    z-index: 2;
}

nav>.menu>a {
    margin: 0 .2rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    transition: all .3s ease;
}

nav>.menu>a:hover,
nav>.menu>a.active {
    background-color: var(--primary-dark);
    color: var(--primary-white);
}

.main {
    /* height to be changed accordingly to content */
    height: 100vh;
}

#home {
    background: linear-gradient(#bcd6f8, #bbd9ff);
}

.lander-top-corner {
    background: url(../images/lander-top-corner.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 250px;
    height: 300px;
    right: 0;
}